################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/bin
*/obj
/bin/Debug/netcoreapp3.1
/obj
/BaseProject.csproj.user
/.vs/BaseProject
